services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: password
      POSTGRES_DB: review_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d review_db"]
      interval: 2s
      timeout: 5s
      retries: 20
      start_period: 15s        # даём 15 секунд на CREATE DATABASE
    volumes:
      - postgres_data:/var/lib/postgresql/data

  migrate:
    image: migrate/migrate
    volumes:
      - ./migrations:/migrations
    command:
      - -path
      - /migrations
      - -database
      - postgres://app:password@db:5432/review_db?sslmode=disable
      - up
    depends_on:
      db:
        condition: service_healthy

  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      DB_DSN: postgres://app:password@db:5432/review_db?sslmode=disable
      HTTP_PORT: 8080
    depends_on:
      migrate:
        condition: service_completed_successfully

volumes:
  postgres_data: